* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(61, 56, 56);
}
.container {
    width: 370px;
    height: 550px;
    background-color: pink;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    overflow-x: hidden;
}
h1 {
    font-size: 24px;
}
#calc {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding: 20px 20px 5px 20px;
    font-size: 16px;
    font-weight: 600;
    gap: 13px;
}
#calc #enter {
    margin: auto;
    text-transform: uppercase;
    color: white;
}
 #calc input,
 #calc button {
    height: 30px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
}
#calc #btn3 {
    cursor: pointer;
    transition: all 0.25s;
    width: 230px;
    margin: auto;
    margin-top: 30px;
}
#calc #btn3:active {
    transform: scaleX(0.6);
    background-color: grey;
}
#calc #btn2 {
    background-color: grey;
    color: antiquewhite;
    font-size: 18px;
    height: 38px;
    cursor: pointer;
    transition: all 0.15s;
}
#calc #btn2:active {
    transform: scale(1.1);
}
#calc #btn3:hover,
#calc #btn2:hover {
    background-color: rgb(159, 156, 156);
}
#calc div {
    display: flex;
    gap: 3px;
    justify-content: space-between;
    align-items: center;
}
#logo {
text-align: right;
margin-top: 3px;
font-size: 20px;
font-style: italic;
color: white;
}